---
---
@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
.footer .text-right.text-gray {
        display: none;
    }
    .footer .text-right.text-gray {
        display: none !important;
    }
    .content-image {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
 /*  .portfolio-box img {
        width: 100%; /* Stretch to fit the container width */
 /*       height: 250px; /* Set a fixed height for uniformity */
 /*       object-fit: cover; /* Crop the image while maintaining proportions */
 /*   } */
    .portfolio-box img {
        width: 100%; /* Fill the width of the container */
        height: calc(100% / 1.6); /* 16:10 aspect ratio calculation */
        object-fit: cover; /* Ensure the image is cropped while keeping its proportions */
    }
  /* .portfolio-box {
        position: relative;
        overflow: hidden; /* Ensures any cropped parts of the image are hidden */
    //}
 //   .portfolio-box {
 //       height: auto; /* Responsive height for the container */
 //       aspect-ratio: 16 / 9; /* CSS property for defining aspect ratio */
 //   } 
        