<section id="team">
    <div class="container">
        <h2 class="section-heading text-center col-lg-12">Meet Our Team</h2>
        <div class="row">
            <div class="team-member col-md-3 col-sm-6 text-center">
                <img src="/img/teammembers/kavya.jpeg" alt="Kavya" class="team-img">
                <h4 class="team-name">Kavya Murali Parthasarathy</h4>
                <p>Founder and CEO</p>
                <p>Neuroeconomics, Behavioural Science, Space Economy</p>
            </div>
            <div class="team-member col-md-3 col-sm-6 text-center">
                <img src="/img/teammembers/ramdas.jpeg" alt="Ramdas" class="team-img">
                <h4 class="team-name">Ramdas Rajan</h4>
                <p>Co-Founder</p>
                <p>Robotics, Automation, and Entrepreneurship</p>
            </div>
     <!--       <div class="team-member col-md-3 col-sm-6 text-center">
                <img src="img/teammembers/member.jpeg" alt="Vaishnav" class="team-img">
                <h4 class="team-name">Vaishnav</h4>
                <p>Director</p>
                <p>MBBS</p>
            </div>
            <div class="team-member col-md-3 col-sm-6 text-center">
                <img src="img/teammembers/member.jpeg" alt="Fikri" class="team-img">
                <h4 class="team-name">Fikri</h4>
                <p>AI/ML, Data Scientist</p>
            </div>
            <div class="team-member col-md-3 col-sm-6 text-center">
                <img src="img/teammembers/member.jpeg" alt="Member5" class="team-img">
                <h4 class="team-name">Member5</h4>
                <p>Designation</p>
                <p>Expert in</p>
            </div> -->
        </div>
    </div>
</section>
