<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet Our Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="team-member">
                <img src="/img/teammembers/kavya.jpeg" alt="Kavya" class="team-img">
                <h4 class="team-name">Kavya Murali Parthasarathy</h4>
                <p class="team-role">Founder and CEO</p>
                <p class="team-expertise">Neuroeconomics, Behavioural Science, Space Economy</p>
            </div>

            <div class="team-member">
                <img src="/img/teammembers/ramdas.jpeg" alt="Ramdas" class="team-img">
                <h4 class="team-name">Ramdas Rajan</h4>    
                <p class="team-role">Co-Founder</p>
                <p class="team-expertise">Robotics, Automation, and Entrepreneurship</p>
            </div>
        </div>
    </div>
</section>
