<section id="team">
    <div class="container">
        <h1 class="col-lg-12 text-center">Meet Our Team</h1>
        <div class="row">
            <div class="team-member col-md-3 col-sm-6">
                <img src="/img/teammembers/kavya.jpeg" alt="Kavya" class="team-img">
                <h4 class="team-name">Kavya Murali Parthasarathy</h4>
                <p>Founder and CEO</p>
                <p>Neuroeconomics, Behavioural Science, Space Economy</p>
            </div>
            <div class="team-member col-md-3 col-sm-6">
                <img src="/img/teammembers/ramdas.jpeg" alt="Ramdas" class="team-img">
                <h4 class="team-name">Ramdas Rajan</h4>
                <p>Co-Founder</p>
                <p>Robotics, automation, and entrepreneurship</p>
            </div>
       <!---     <div class="team-member col-md-3 col-sm-6">
                <img src="img/teammembers/member.jpg" alt="Vaishnav" class="team-img">
                <h4 class="team-name">Vaishnav</h4>
                <p>Director</p>
                <p>MBBS</p>
            </div>
            <div class="team-member col-md-3 col-sm-6">
                <img src="img/teammembers/member.jpg" alt="Fikri" class="team-img">
                <h4 class="team-name">Fikri</h4>
                <p>AI/ML, Data Scientist</p>
            </div>
            <div class="team-member col-md-3 col-sm-6">
                <img src="img/teammembers/member.jpeg" alt="Member5" class="team-img">
                <h4 class="team-name">Member5</h4>
                <p>Designation</p>
                <p>Expert in</p>
            </div>-->
        </div>
    </div>
</section>
